@media (max-width: 980px) {
  .row {
    display: block;
  }
  
  .row [class*="col"] {
    width: 100%;
  }
  
  .header__toggle {
    display: block;
  }
  
  .main-nav {
    display: none;
  }
  
  .main-header__content .btn-primary {
    display: none;
  }
  
  .main-header__content .fa-bars {
    margin-left: auto;
    display: block;
    font-size: 22px;
  }
  
  .hero__content h2 {
    font-size: 2rem;
  }
  
  .logo h1 {
    position: absolute;
    left: -2000px;
    margin: 0;
    font-size: 1rem;
  }
  
  .footer__lang-dropdown {
    left: 110%;
  }

  .hero__content .link-small {
    display: none;
  }
}

@media (max-width:375px) {
  .top-header,
  .home-intro__news-notif {
    font-size: 10px;
  }
  
  .main-header,
  .main-header__content {
    height: 60px;
  }
  
  .logo svg {
    transform: scale(0.8);
  }
  
  .mobile-menu__nav ul li a {
    font-size: 1rem;
  }
  
  .nav-menu {
    height: 100%;
  }
  
  .main-header.fixed .nav-menu {
    height: 100%;
  }
}

@media (max-width:320px) {
  .nav-menu {
    height: 100%;
  }
  
  .main-header.fixed .nav-menu {
    height: 100%;
  }
}